<section>
  <form>
 
     <select (change)="selectFilePath($event)">
         <option value="url" selected>URL</option>
         <option value="file">File</option>
     </select>
 
     <input id="url" type="text" placeholder="Saisir une URL" *ngIf="filePathSelect === 'url'">
     <input id="file" type="file" *ngIf="filePathSelect === 'file'" accept="audio/*" (change)="interceptPath($event)">
     
  </form>
 </section>
 
 <section>
 <button (click)="sendMusicToThePlaylist()" class="addToPlaylist">Ajouter à la playlist</button>
  <div *ngFor="let music of filesArray; let index = index;" class="song">
     <div (click)="fileSelected(index)" class="file">{{music.name}}</div>
     <progress *ngIf="readingTitle===index" [value]="progress" max="100"></progress>
     <audio id="myAudio{{index}}" type="audio/mpeg" [src]=music.path (timeupdate)="updateProgressBar($event)">
         <a href=music.path >
             {{ music.path }}
         </a>
     </audio>
     <div>
         <button class="download">
             <a href={{music.path}} download={{music.name}}>
                 <img src="../../assets/download.svg" alt="logo téléchargement">
             </a>
         </button>
         <button class="basket" (click)="deleteMusic(index)">
             <img src="../../assets/poubelle.svg" alt="logo poubelle">
         </button>
     </div>  
  </div>
 </section>
 
 <section>
 <div class="player">
 <img src="../../assets/back.svg" alt="Image précedent" (click)="back()">
 <img src="../../assets/stop.svg" alt="Image stop" (click)="stop()">
 <img src="../../assets/play.svg" alt="Image lecture" (click)="playMusic()" *ngIf="!musicIsReading">
 <img src="../../assets/break.svg" alt="Image pause" (click)="break()" *ngIf="musicIsReading">
 <img src="../../assets/next.svg" alt="Image suivant" (click)="next()">
 </div>
 </section>
 