<section>
<div class="ingredient">
    <img src={{srcImg}} alt="photo de {{ingredientSelected}}">
    <div class="contain">
        <div *ngIf="hop">Nom: {{hop.hop.name}}</div> 
        <div *ngIf="hop">Type: {{hop.hop.type}}</div>
        <div *ngIf="hop">Style: {{hop.hop.type}}</div>
        <div *ngIf="hop">Pays: {{hop.hop.type}}</div>
        <div *ngIf="hop">Acide alpha: {{hop.hop.type}}</div>
        <div *ngIf="hop">Quantité en stock: {{hop.hop.type}}</div>
        <div *ngIf="hop">Description: {{hop.hop.type}}</div>
        <!--<div *ngIf="ingredient.description">Description: {{ingredient.description}}</div>
        <div class="name">Quantité en Stock: {{ingredient.stockQuantity}} gramme(s)</div>
        <div *ngIf="ingredient.alphaAcid">Acide alpha: {{ingredient.alphaAcid}} %</div>
        <div *ngIf="ingredient.ebc">EBC: {{ingredient.ebc}}</div>
        <div *ngIf="ingredient.maxUse">Max use: {{ingredient.maxUse}} %</div>
        <div *ngIf="ingredient.country">Pays d'origine: {{ingredient.country}}</div> -->
    </div>
</div>
</section>